{% extends "page.html" %}

{% set title = "#{category} - #{value}" %}

{% block body %}
{{ parent() }}

{% if description %}
	<div class="description-container">
		<h2>Description</h2>
		<div class="description">
		  {{ description|raw }}
		</div>
	</div>
{% endif %}

<p>Point value: {{ value }}</p>

{% if files %}
	<div class="files">
	<h2>Files</h2>
	<ul>
	{% for file in files %}
		<li><a href="{{ file.url }}">{{ file.name }}</a></li>
	{% endfor %}
	</ul>
	<div>
{% endif %}

<form method="post" action="claim.php">

<input type="hidden" name="puzzle" value="{{ id }}" />

<div>Team Hash:<br/>
<input type="text" name="hash" autocomplete="off" /></div>
<div>Answer:<br/>
<input type="text" name="answer" autocomplete="off" /></div>

<div>
<input type="submit" value="Submit" />
</div>

</form>

{% if author %}
	<p class="author">Author: {{ author }}</p>
{% endif %}

{% endblock %}
